/eIspitOMR/release/moc_mainwindow.cpp
/eIspitOMR/release/moc_mainwindow.o
/eIspitOMR/release
/eIspitOMR/debug
/eIspitOMR/Makefile.Debug
/eIspitOMR/Makefile.Release
/eIspitOMR/Makefile
/eIspitOMR/eIspitOMR.pro.user
/build-*